.infoPage{
    text-align: left;
    width: 100%;
}
.title{
    padding-left: 20px;
    margin-bottom: 20px;
    color: rgb(5, 91, 5);
}
.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}