.itemsContainer {
    display: flex;
    margin: 0;
    margin-top: 60px;
    padding: 1rem;
    min-height: calc(100vh - 60px);
}

.propContainer {
    display: flex;
    margin: auto;
}
.title {
    color: rgb(5, 91, 5);
    transition: all .5s ease;
    
}
.title:hover{
    text-shadow: 10px 10px 10px rgb(192, 192, 192);
    transform: scale(1.5);
}