.navContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #fff;
    color: #fff;
    padding: 0.5rem;
    border-bottom: 2px solid rgb(5, 91, 5);
    box-shadow: 0 0 10px 2px rgb(174, 218, 174);
    justify-content: space-between;
    align-items: center;
}

.linksContainer{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 50px;
}
.navLink {
    text-decoration: none;
    color: rgb(5, 91, 5);
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 20px;
    transition: all .5s ease;
}
.navLink:hover{
    color: #fff;
    background-color: rgb(5, 91, 5);
}

.navImage {
    margin-left: 50px;
    height: 50px;
    width: auto;
    cursor: pointer;
}
