.mainContainer {
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.errorContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buttonContainer{
    display: flex;
    justify-content: center
}

.linkButton{
    text-decoration: none;
    border: none;
    padding: 12px 20px;
    border-radius: 16px;
    color: #fff;
    font-weight: 600;
    background-color: #055b05;
}