.btn {
    background-color: rgb(5, 91, 5);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s ease;
    font-weight: 600;
    display: flex;
    text-decoration: none;
}

.btn:hover{
    opacity: .8;
}