.btn {
    background-color: rgb(5, 91, 5);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all .3s ease;
    font-weight: 600;
    display: flex;
    text-decoration: none;
    justify-content: center;
}
.btn:hover{
    opacity: .8;
}
.btn:disabled{
    background-color: #838181;
    cursor: not-allowed;
}
.btn:disabled:hover{
    opacity: 1;
}

.red {
    background-color: rgb(241, 62, 62);
}
.lightgreen{
    background-color: rgb(29, 167, 29);
}